<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html" 
  xmlns:f="http://java.sun.com/jsf/core" 
  xmlns:p="http://primefaces.org/ui">
<ui:composition template="template.xhtml">
  <f:loadBundle basename="messages_pt_BR" var="bundle" />
  <ui:param name="masterAction" value="#{recadosAction}" />
  
  <ui:define name="pageContent">
    RECADOS
  </ui:define>
</ui:composition>
</html>